@import "../general/_media-queries";

html {
    font-size: 16px;
}

body {
    background-color: #003e00;
    background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
    //    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}

.band {
    //background-image: url("https://www.transparenttextures.com/patterns/xv.png");
    background-image: url("https://www.transparenttextures.com/patterns/translucent-fibres.png");
    background-color: #790400;

    @include rotate(40);

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
    0 1px 18px 0 rgba(0, 0, 0, .12),
    0 3px 5px -1px rgba(0, 0, 0, .4);

    position: fixed;
    height: 10rem;
    width: 2000px;
    bottom: 0px;
    left: -800px;


    // Galaxy S5
    @include screen(340px, 380px, portrait) {
        @include rotate(30);
        height: 9rem;
        width: 2000px;
        bottom: 120px;
        left: -800px;

    }

    @include iphone4(portrait) {
        @include rotate(30);
        height: 7.5rem;
        width: 2000px;
        bottom: 90px;
        left: -800px;
    }


    @include iphone5(portrait) {
        @include rotate(30);
        height: 8.5rem;
        width: 2000px;
        bottom: 90px;
        left: -800px;
    }


    @include iphone6(portrait) {
        @include rotate(30);
        height: 11rem;
        width: 2000px;
        bottom: 130px;
        left: -800px;
    }

    @include iphone6-plus(portrait) {
        @include rotate(30);
        height: 11rem;
        width: 2000px;
        bottom: 160px;
        left: -800px;
    }

    @include ipad(portrait) {

        @include rotate(25);
        height: 15rem;
        width: 2000px;
        bottom: 300px;
        left: -800px;

    }

    @include ipad(landscape) {

        @include rotate(40);
        height: 14rem;
        width: 2000px;
        bottom: 100px;
        left: -800px;
    }


    @include ipad-retina(portrait) {
        @include rotate(25);
        height: 21rem;
        width: 2000px;
        bottom: 410px;
        left: -800px;

    }

}
