@import "../general/_media-queries";
//@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poiret+One|Shrikhand');


html {
    font-family: 'Poiret One', cursive;
    font-size: 1.1em;
}

body {
    padding-top: 1.1em;
    //    background-color: #003e00;

    background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 1em,
            darkseagreen 0,
            darkseagreen 2em,
            transparent 0,
            transparent 3em,
            beige 0,
            beige 4em,
            transparent 0,
            transparent 5em,
            lightcoral 0,
            lightcoral 6em,
            transparent 0,
            transparent 7em,
            beige 0,
            beige 8em
    ),
    repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 1em,
            snow 0,
            snow 2em,
            transparent 0,
            transparent 3em,
            wheat 0,
            wheat 4em,
            transparent 0,
            transparent 5em,
            wheat 0,
            wheat 6em
    );

    background-blend-mode: multiply;

}

dd {
    margin-left: 0.85em;
}

// This makes the color of svg icons the same as the text color
svg {
    fill: currentColor;
}

.preloader {
    background: url("../../../images/background/app-bg.jpg") no-repeat -9999px -9999px;
}

/* unvisited link */
a:link {
    color: $link-color;
}

/* visited link */
a:visited {
    color: $link-color;
}

/* mouse over link */
a:hover {
    color: $link-color;
}

/* selected link */
a:active {
    color: $link-color;
}

.moreInfoArrow {
    position: relative;
    top: -0.1em;
    left: 0.05em;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.heading-invite {
    //    font-family: 'Luckiest Guy', cursive;
    font-family: 'Shrikhand', cursive;
}

